.jumbotron {
    background-color: $yellow;
    color: black;
    margin-top: 50px;
}

footer {
    background-color: $yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    margin-right: 10px;
}

.button {
    background-color: black;
    color: yellow;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
   }
.btn-reserva {
    width: 100%;
    border-radius: 0%;
}

.tab-content {
    padding-top: 10px;
}
