@yellow: #f0ad4e;
@red: #d9534f;
@green: #5cb85f;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}   

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);  
} 
  
  footer {
    background-color: @red;
    padding: 10px 10px 0 10px;
    .margenes(10px, 0px);
}
  
  .footer-address-icon {
    margin-right: 10px;
}
  
  .button {
    background-color: black;
    color: yellow;
}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0%;
}
  
  .tab-content {
    padding-top: 10px;
} 